$title-color-bevers: rgb(252, 3, 69);
$title-color-welpen: rgb(60, 76, 35);
$title-color-scouts: rgb(80, 62, 13);
$title-color-explores: rgb(74, 28, 32);
$title-color-pivos: rgb(57, 166, 171);
$title-color-plus: rgb(224, 210, 11, 0.5);

$background-bevers: rgba(252, 3, 69, 0.5);
$background-welpen: rgba(60, 76, 35, 0.5);
$background-scouts: rgba(252, 198, 3, 0.5);
$background-explores: rgba(168, 18, 2, 0.5);
$background-pivos: rgba(57, 166, 171, 0.5);
$background-plus: rgba(224, 210, 11, 0.5);